* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #2b358c0a;
}

a {
    color: inherit;
}
._container{
    max-width: 1470px;
    margin: 0 auto;
    padding:  0 15px;
}

.app-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 265px;
    background-color: white;
    border-bottom: 1px solid #0000004a;
    box-shadow: -1px -2px 6px 0px #000;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 50;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -13px 0px 20px 0px #000;
}

.main {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.content{
    width: calc(100vw - 250px);
    margin-top: 60px;
}

.logo{
    width: 50px;
}

.logo__img{
    display: flex;
    max-width: 100%;
    height: auto;
}

.content__banner img{
    height: 250px;
    width: 100%;
}

.content__profile-info{
    display: flex;
    justify-content: space-between;
}

.content__banner{
    display: flex;
    margin-bottom: 20px;
}

.content__profile-info{
    padding: 0px 40px;
}

.content__post-block{
    padding: 0px 40px;
}