* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
}

a {
    color: inherit;
}
._container{
    max-width: 1470px;
    margin: 0 auto;
    padding:  0 15px;
}

.app-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: darkgreen;
}

.sidebar {
    flex-grow: 1;
    background-color: darkgreen;
}

.main {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    background-color: lightgray;
}

.content{
    flex-grow: 10;
}

.logo{
    width: 80px;
}

.logo__img{
    display: flex;
    max-width: 100%;
    height: auto;
}

.content__banner img{
    height: 250px;
    width: calc(100% - 10px);
}

.content__profile-info{
    display: flex;
    justify-content: space-between;
}